{% extends 'base.html' %}
{% block title %}Amazon | Sign In{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="col-md-6">
    <div class="card shadow-lg p-4">
      <h2 class="text-center mb-4">🔐 Sign In</h2>

      {% for m in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Alert!</strong> {{ m }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

      <form method="post" >
        {% csrf_token %}

        <div class="mb-3">
          <label for="user_type" class="form-label px-2">Select User</label>
          <input type="radio" name="user_type" value="admin" required><label>Admin</label>&nbsp; &nbsp;
          <input type="radio" name="user_type"  value="user" required><label>Customer/Seller</label>
          
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="uemail" class="form-control" id="email" required>
          <div class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="upass" class="form-control" id="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check" required>
          <label class="form-check-label" for="check">Remember me</label>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>

      <div class="text-center mt-3">
        <small>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></small>
      </div>
      <div class="text-center mt-3">
        <small>Click here for<a href="#">Forgot password</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
